body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#logo {
    margin-bottom: 2rem;
}

#logo img {
    width: 200px;
}

#quoteDisplay {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 8rem;
    text-align: center;
}

#aboutUs {
    background-color: #EEEEEE;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 8rem;
}

#aboutUs h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

#aboutUs p {
    margin-top: 2rem;
}

#menu {
    margin-top: 8rem;
}

#menu h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

#ordering {
    background-color: #EEEEEE;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 8rem;
}

#ordering h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

#ordering p {
    margin-bottom: 2rem;
}

#contactUs {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 8rem;
}

#contactUs h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

#footer {
    background-color: #e80e92;
    height: 100px;
    width: auto;
}

#footer p {
    padding-top: 2rem;
    color: #fff;
    font-weight: bold;
}